In [2]:
import pypelines.ts_forecast_pipeline as pipe
from pypelines import utils
import pandas as pd
usm = pd.read_csv("pypelines/datasets/timeseries_forecast/us_macro.csv")

In [3]:
ts_pipe = pipe.TSForecastPipeline(data=usm, date_column='Period')

In [4]:
ts_pipe.code_to_clipboard()

In [15]:

from sktime import *
from sklearn.metrics import mean_squared_error


import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler,OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

date_col = 'Period'
features = list(usm.columns)
feature_df = usm[features]

x_train = usm[features]
# preprocess pipelines to be added

x_train_preprocessed = x_train
#del x_train_preprocessed['Period']
x_train_preprocessed[date_col] = pd.to_datetime(x_train_preprocessed[date_col])

model_comparison_list = []

##### End of Data Processing Pipeline #####


##### Model Pipeline for Trend Forecast #####

from sktime.forecasting.trend import TrendForecaster
from sktime.forecasting.model_selection import ExpandingWindowSplitter,ForecastingGridSearchCV,ExpandingWindowSplitter
from sklearn.metrics import mean_squared_error,make_scorer,r2_score,explained_variance_score
import matplotlib.pyplot as plt

TrendForecaster_param_grid = {
}


TrendForecaster_model = TrendForecaster()

TrendForecaster_model.fit(x_train_preprocessed)

# get the prediction on the test data
TrendForecaster_y_pred = TrendForecaster_model.predict(fh=[1,2,3,4,5,6])
#TrendForecaster_y_pred['Period'] = pd.to_datetime(TrendForecaster_y_pred['Period'])
##### End of Model Pipeline for Trend Forecast #####
##### Model Comparison #####

In [16]:
TrendForecaster_y_pred

,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
203,210.234971,3.165508,1437.762030,304.477929,8762.170321,9460.888728,12716.709614,874.088826,1.327435,1970.238110,4.465830,5.992699
204,211.265943,3.157706,1445.309426,305.112770,8800.767157,9501.578413,12770.587435,876.155103,1.327346,1979.624132,4.457536,5.993757
205,212.296916,3.149904,1452.856823,305.747611,8839.363992,9542.268098,12824.465256,878.221379,1.327257,1989.010154,4.449243,5.994816
206,213.327888,3.142102,1460.404219,306.382452,8877.960828,9582.957783,12878.343077,880.287655,1.327168,1998.396176,4.440949,5.995874
207,214.358861,3.134300,1467.951616,307.017293,8916.557663,9623.647467,12932.220897,882.353932,1.327079,2007.782198,4.432656,5.996933
208,215.389833,3.126498,1475.499012,307.652134,8955.154499,9664.337152,12986.098718,884.420208,1.326991,2017.168220,4.424362,5.997991

In [17]:
TrendForecaster_y_pred

,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
203,210.234971,3.165508,1437.762030,304.477929,8762.170321,9460.888728,12716.709614,874.088826,1.327435,1970.238110,4.465830,5.992699
204,211.265943,3.157706,1445.309426,305.112770,8800.767157,9501.578413,12770.587435,876.155103,1.327346,1979.624132,4.457536,5.993757
205,212.296916,3.149904,1452.856823,305.747611,8839.363992,9542.268098,12824.465256,878.221379,1.327257,1989.010154,4.449243,5.994816
206,213.327888,3.142102,1460.404219,306.382452,8877.960828,9582.957783,12878.343077,880.287655,1.327168,1998.396176,4.440949,5.995874
207,214.358861,3.134300,1467.951616,307.017293,8916.557663,9623.647467,12932.220897,882.353932,1.327079,2007.782198,4.432656,5.996933
208,215.389833,3.126498,1475.499012,307.652134,8955.154499,9664.337152,12986.098718,884.420208,1.326991,2017.168220,4.424362,5.997991

In [24]:
import pandas as pd
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.forecasting.naive import NaiveForecaster
from sktime.performance_metrics.forecasting import mean_absolute_percentage_error

# Load the CSV file into a DataFrame
data = pd.read_csv("pypelines/datasets/timeseries_forecast/us_macro.csv")

data['Period'] = pd.to_datetime(data['Period'], format='%YQ%q')

# Set 'Period' as the index
data = data.set_index('Period')

# Split the data into train and test sets
y_train, y_test = temporal_train_test_split(data['Period'], test_size=36)

# Create and fit the NaiveForecaster model
model = NaiveForecaster(strategy='last')
model.fit(data)

# Forecast future values
y_pred = model.predict(fh=[1, 2, 3])  # Adjust the forecast horizon as needed

# Evaluate the model
mape = mean_absolute_percentage_error(y_test, y_pred)
print("MAPE:", mape)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "pandas\_libs\tslibs\strptime.pyx", line 244, in pandas._libs.tslibs.strptime.array_strptime
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\_strptime.py", line 263, in compile
    return re_compile(self.pattern(format), IGNORECASE)
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\_strptime.py", line 257, in pattern
    self[format[directive_index]])
  File "pandas\_libs\tslibs\strptime.pyx", line 565, in pandas._libs.tslibs.strptime.TimeRE.__getitem__
KeyError: 'q'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Kreshnaa Raam\AppData\Local\Temp\ipykernel_234140\4031078640.py", line 9, in <module>
    data['Period'] = pd.to_datetime(data['Period'], format='%YQ%q')
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py", line 1050, in to_datetime
    values = convert_listlike(arg._values, format)
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py", line 453, in _convert_listlike_datetimes
    return _array_strptime_with_fallback(arg, name, utc, format, exact, errors)
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py", line 484, in _array_strptime_with_fallback
    result, timezones = array_strptime(arg, fmt, exact=exact, errors=errors, utc=utc)
  File "pandas\_libs\tslibs\strptime.pyx", line 234, in pandas._libs.tslibs.strptime.array_strptime
  File "pandas\_libs\tslibs\strptime.pyx", line 252, in pandas._libs.tslibs.strptime.array_strptime
ValueError: 'q' is a bad directive in format '%YQ%q'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1049, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "C:\Users\Kreshnaa Raam\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 1121, in getsourcelines
    lines, lnum = findsource(object)
  File "c:\Users\Kreshnaa Raam\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 958, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [22]:
data

,Period,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint,Year,Quarter
0,1959Q1,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00,1959,1
1,1959Q2,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74,1959,2
2,1959Q3,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09,1959,3
3,1959Q4,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06,1959,4
4,1960Q1,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19,1960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008Q3,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33,2008,3
199,2008Q4,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91,2008,4
200,2009Q1,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71,2009,1
201,2009Q2,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19,2009,2
202,2009Q3,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44,2009,3